.deposit-header{
  margin-top: 16px;
}
.deposit-header .toolbar{
  height: 3rem;
}
.deposit-content .first-item{
  margin-top: 40px;
}
.deposit-content .item .item-inner{
  border: none;
}
.deposit-content .first-item span{
  font-size: 2rem;
}
.deposit-content button{
  margin-top: 2rem;
}
