.transport-header{
  margin-top: 16px;
}
.transport-header .toolbar{
  height: 3rem;
}
.transport-content{
  background: #eee;
}
.transport-content .item{
  border-radius: 5px;
}
.transport-content .item .item-inner{
  border: none;
}
.transport-content .first-item{
  margin-top: 15px;
}
.transport-content .first-item input,
.transport-content .second-item input{
  border-radius: 5px;
  width: 60%;
}
.transport-content .forth-item input,
.transport-content .firth-item input{
  width: 100%;
  border-radius: 5px;
  font-size: 1.8rem;
}
.transport-content .item{
  margin-bottom: 1.2rem;
}
.transport-content textarea{
  width: 100%;
  border-radius: 5px;
  font-size: 1.6rem
}
.transport-content p{
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: .7rem;
}
