
.toolbar
{
    min-height: 3.25rem;
}
.nav-bar
{
    background-color: #de8949;
}
.nav-bar img
{
    max-width: 85%;
    max-height: 130%;
    margin-top: -.2rem;
    margin-left: -1rem;
}
.bar-button
{
    height: 44px;
}
.nav-bar .header-btn .bar-button
{
    margin-left: -1em;
}
.header-btn .sqlit
{
    margin-right: .5rem;
    margin-left: -.5rem;
}
.nav-bar .header-btn span
{
    color: white;
}


//轮播图
ion-slides
{
    //position: static;
    height: auto;
}
scroll-content
{
    background-color: #222;
}
.home-slides
{
    //max-height:10px;
}
.home .home-slides img
{
    min-width: 100%;
}
.swiper-slide
{
    align-items: flex-start;
    //max-height:11.5rem;
}

.button-inner
{
    border-radius: 50%;
}
.home .leave-with,
.home .transport
{
    margin-bottom: .2em;
    position: relative;
    width:100%;
    height: auto;
    padding: 0;

}
.home .leave-with img,
.home .transport img{
    width: 100%;
}
.leave-with + img{
    width:100%;
}

.luggage{
    padding: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.luggage h2,
.luggage p{
    color: rgba(255,255,255,.8);
    font-weight: bold;
}
.luggage p{
    font-size: 2rem;
    margin-top: -.6rem;
}




.addbtn
{
    position: fixed;
    z-index: 100;
    top: 92%;
    left: 88%;
    transform: translate(-50%,-50%);
}
.addbtn button
{
    transition: 1s ease;
}


.button-clear:hover:not(.disable-hover)
{
    background-color: transparent;
}

.addbtn-rotate
{
    transform: rotate(45deg);

    background: transparent;
}
.addbtn-no-rotate
{
    transform: rotate(0deg);

    background: transparent;
}
.threebtnteam
{
    position: fixed;
    top: 86%;
    left: 80%;
}
.threebtnteam button
{
    position: absolute;
    z-index: 1;
    top: 1.8rem;
    left: 1.3rem;

    display: block;

    width: 2.7rem;
    height: 2.7rem;

    transition: 1s ease;
    transform: translate(0);

    opacity: 0;
    border-radius: 2rem;
}
.threebtnteam .firstbtn
{
    //display: block;

    transform: translate(0,-4.6rem);

    opacity: 1;
    // top: -3rem;
    // left:0px;
}
.nofirstbtn{
    display: none;

    transform: translate(0,0);

    opacity: 0;
}
.threebtnteam .secondbtn
{
    display: block;

    transform: translate(-4rem,-3rem);

    opacity: 1;
    // top: -.68rem;
    // left:-4rem;
}
.nosecondbtn{
    //display: none;

    transform: translate(0,0);

    opacity: 0;
}

.threebtnteam .thirdbtn
{
   //display: block;

    transform: translate(-3.8rem,1rem);

    opacity: 1;
    // top: 3rem;
    // left:-3rem;
}
.nothirdbtn{
   // display: none;

    transform: translate(0,0);

    opacity: 0;
}
/* .threebtnteam button:nth-child(1){
    top: -3rem;
    left:0px;
}
.threebtnteam button:nth-child(2){
    top: -.68rem;
    left:-4rem;
}
.threebtnteam button:nth-child(3){
    top: 3rem;
    left:-3rem;
}
 */
